[submodule "extensions/enhanced-img2img"]
	path = extensions/enhanced-img2img
	url = https://github.com/OedoSoldier/enhanced-img2img
[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet
[submodule "extensions/a1111-sd-webui-tagcomplete"]
	path = extensions/a1111-sd-webui-tagcomplete
	url = https://github.com/DominikDoom/a1111-sd-webui-tagcomplete
[submodule "extensions/stable-diffusion-webui-composable-lora"]
	path = extensions/stable-diffusion-webui-composable-lora
	url = https://github.com/opparco/stable-diffusion-webui-composable-lora
[submodule "extensions/stable-diffusion-webui-two-shot"]
	path = extensions/stable-diffusion-webui-two-shot
	url = https://github.com/opparco/stable-diffusion-webui-two-shot
[submodule "extensions/a1111-sd-webui-lycoris"]
	path = extensions/a1111-sd-webui-lycoris
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\a1111-sd-webui-lycoris
[submodule "extensions/sd-dynamic-prompting"]
	path = extensions/sd-dynamic-prompting
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\sd-dynamic-prompting
[submodule "extensions/sd-dynamic-thresholding"]
	path = extensions/sd-dynamic-thresholding
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\sd-dynamic-thresholding
[submodule "extensions/sd-infinity-grid-generator-script"]
	path = extensions/sd-infinity-grid-generator-script
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\sd-infinity-grid-generator-script
[submodule "extensions/multidiffusion-upscaler-for-automatic1111"]
	path = extensions/multidiffusion-upscaler-for-automatic1111
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\multidiffusion-upscaler-for-automatic1111
[submodule "extensions/ABG_extension"]
	path = extensions/ABG_extension
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\ABG_extension
[submodule "extensions/openpose-editor"]
	path = extensions/openpose-editor
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\openpose-editor
[submodule "extensions/sd-extension-aesthetic-scorer"]
	path = extensions/sd-extension-aesthetic-scorer
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\sd-extension-aesthetic-scorer
[submodule "extensions/stable-diffusion-webui-images-browser"]
	path = extensions/stable-diffusion-webui-images-browser
	url = F:\\AIGC\\stable-diffusion-webui\\extensions\\stable-diffusion-webui-images-browser
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer
